service: twitter-search

provider:
    name: aws
    region: ap-northeast-1
    runtime: provided.al2
    iam:
        role:
            statements:
                - Effect: 'Allow'
                  Action:
                      - 'sqs:*'
                  Resource:
                      - '手動で作成したarn'
                - Effect: 'Allow'
                  Action:
                      - 'dynamodb:PutItem'
                      - 'dynamodb:Scan'
                  Resource:
                      - 'arnを手動で定義'

plugins:
    - ./vendor/bref/bref

functions:
    cron:
        handler: Execute.php
        layers:
            - ${bref:layer.php-80} # PHP runtime
            - ${bref:layer.console} # Console layer
        events:
            - schedule:
                  rate: rate(1 hour)
                  input: '"TwitterImgSearch"'
    worker:
        handler: worker.php
        layers:
            - ${bref:layer.php-80}
        events:
            - sqs:
                  arn: '手動で作成したarn'
resources:
    Resources:
        TwitterImgSearchTable:
            Type: AWS::DynamoDB::Table
            Properties:
                AttributeDefinitions:
                    - AttributeName: 'type'
                      AttributeType: 'S'
                KeySchema:
                    - AttributeName: "type"
                      KeyType: "HASH"
                ProvisionedThroughput:
                    ReadCapacityUnits: 5
                    WriteCapacityUnits: 5
                SSESpecification:
                    SSEEnabled: True
                TableName: 'TwitterImgSearchTable'
                Tags:
                    - Key: env
                      Value: Dev

# Exclude files from deployment
package:
    exclude:
        - '.circleci/**'
        - 'tests/**'
        - 'docker-compose.yaml'
        - '*.md'
        - '.env.sample'
        - '*.sh'